.rs-contact {
  padding: 80px 0px 0px;
}
@media (max-width: 1439.98px) {
  .rs-contact {
    padding-top: 60px;
  }
}
@media (max-width: 1169.98px) {
  .rs-contact {
    padding-top: 40px;
  }
}
.rs-contact__wrapper {
  margin-top: 30px;
}
@media (max-width: 1439.98px) {
  .rs-contact__wrapper {
    margin-top: 20px;
  }
}
@media (min-width: 991.98px) {
  .rs-contact__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (max-width: 991.98px) {
  .rs-contact__block {
    margin-bottom: 20px;
  }
}
.rs-contact__block .rs-btn {
  margin-top: 30px;
  width: 100%;
  max-width: 332px;
}
@media (max-width: 991.98px) {
  .rs-contact__block .rs-btn {
    margin-top: 20px;
    max-width: 100%;
  }
}
.rs-contact__list ul li {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #774653;
}
@media (max-width: 1439.98px) {
  .rs-contact__list ul li {
    font-size: 18px;
  }
}
@media (max-width: 1169.98px) {
  .rs-contact__list ul li {
    font-size: 16px;
  }
}
.rs-contact__list ul li:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 1439.98px) {
  .rs-contact__list ul li:not(:last-child) {
    margin-bottom: 20px;
  }
}
.rs-contact__list ul li span {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #727272;
  display: block;
}
@media (max-width: 1169.98px) {
  .rs-contact__list ul li span {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  .rs-contact__list ul li span {
    font-size: 13px;
  }
}
.rs-contact__social {
  margin-top: 30px;
}
.rs-contact__social p {
  margin-bottom: 5px;
}
.rs-contact__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rs-contact__social ul li:not(:last-child) {
  margin-right: 6px;
}
.rs-contact__social ul li a {
  width: 39px;
  height: 38px;
  display: block;
}
.rs-contact__social ul li a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.rs-contact__request h5 {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  color: #774653;
  margin-bottom: 29px;
}
.rs-contact__map {
  margin-top: 110px;
  height: 682px;
  border-radius: 30px;
  overflow: hidden;
}
@media (max-width: 1439.98px) {
  .rs-contact__map {
    margin-top: 60px;
    height: 500px;
  }
}
@media (max-width: 1169.98px) {
  .rs-contact__map {
    margin-top: 40px;
    height: 400px;
  }
}
.rs-contact__map .map {
  width: 100%;
  height: 100%;
}