// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
// @import "fonts/icons";

// Парамерты по умолчанию ==============================================================================================================================================================================================================================================================================
// Шрифт и размер
$fontFamily: "Rubik", sans-serif;
$fontSize: 14px;

// Основные цвета
$accentColor: #c80151;
$fontColor: #727272;
$bgColor: #fff;

// Минимальная ширина страницы
$minWidth: 320px;
// Ширина макета
$maxWidth: 1920px;
// Ширина ограничивающего контейнера (ширина контейнера по макету + раддинги)
$maxWidthContainer: calc(1760px + (20px * 2));

// Брейк-поинты
$pc: 1169.98px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

// Обнуление и общие параметры ============================================================================================================================================================================================================================================================================================================================================================================================
@import "base/_null";

html {
	// Скролл заблокирован
	&.lock {
		overflow: hidden;
		touch-action: none;
	}
}

body {
	// Сайт загружен
	.loaded & {
	}
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	// overflow: hidden;

	// Прижимаем footer
	> main {
		flex: 1 1 auto;
		position: relative;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================
[class*="__container"] {
	margin: 0 auto;
	width: 100%;
	max-width: $maxWidthContainer;
	padding-left: 20px;
	padding-right: 20px;

	@media (max-width: 991.98px) {
		max-width: 768px;
	}

	@media (max-width: 767.98px) {
		max-width: 100%;
	}

	[class*="__container"] {
		padding: 0;
		max-width: 100%;
	}
}

// Вспомогательные классы ======================================================================================================================================================================================================================
.dont-break-out {
	// Технически это одно и то же, но используйте и то, и другое
	overflow-wrap: break-word;
	word-wrap: break-word;
	// Это самое опасное в WebKit, так как оно ломает вещи везде, где бы они ни были
	word-break: break-all;
	// Вместо этого используйте этот нестандартный:
	word-break: break-word;
	// Добавляет дефис там, где слово ломается, если поддерживается
	hyphens: auto;
}

// Подключение стилей отдельных элементов ======================================================================================================================================================================================================================
@import "./base/_common";
@import "./base/_swiper";
@import "./base/_breadcrumbs";
@import "./base/_modal";
// @import "./base/_datepicker";
// @import "./base/_light-gallery";
// @import "./base/_spollers";
// @import "./base/_tabs";
@import "./base/_pagging";
// @import "./base/_select";
// @import "./base/_custom-cursor";
// @import "./base/_showmore";
// @import "./base/_anim";
// @import "./base/_video";
// @import "./base/_maps";
