.rs-gallery {
	padding: 0px 15px;

	@media (max-width: 991.98px) {
		padding: 0px 20px;
	}

	&.aos-animate {
		.rs-gallery__bg {
			height: 100%;
		}

		.rs-gallery__desc {
			transform: translateY(0px);
			opacity: 1;
		}

		.rs-gallery__sliders {
			transform: translateY(0px);
			opacity: 1;
		}

		.rs-gallery__picture {
			transform: translateY(0px);
			opacity: 1;
		}
	}

	// .rs-gallery__bg
	&__bg {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 15px;
		right: 15px;
		width: calc(100% - 30px);
		height: 0%;
		transition: height 1s cubic-bezier(0.48, 0, 0.48, 1);
		transition-delay: 0.5s;
		z-index: -1;

		@media (max-width: 991.98px) {
			width: calc(100% - 40px);
			left: 20px;
			right: 20px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 30px;
			@media (max-width: 991.98px) {
				border-radius: 20px;
			}
		}
	}

	// .rs-gallery__container
	&__container {
	}

	// .rs-gallery__wrapper
	&__wrapper {
		display: flex;
		align-items: center;

		@media (max-width: 991.98px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	// .rs-gallery__desc
	&__desc {
		// max-width: 921px;
		// padding: 96px 0px 80px 94px;
		max-width: 49.8%;
		padding: 5.5% 1.5% 4.6% 5.3%;
		position: relative;
		z-index: 10;
		transform: translateY(50px);
		opacity: 0;
		transition:
			transform 0.5s cubic-bezier(0.48, 0, 0.48, 1),
			opacity 0.5s cubic-bezier(0.48, 0, 0.48, 1);
		transition-delay: 1.5s;

		@media (max-width: 1439.98px) {
			padding: 50px 30px 50px 0px;
		}

		@media (max-width: 991.98px) {
			max-width: 100%;
			padding: 22px 0px 20px;
		}

		.rs-blog & {
			max-width: 56.5%;
			margin-top: -27px;

			@media (max-width: 1439.98px) {
				margin-top: 0px;
			}

			@media (max-width: 991.98px) {
				max-width: 100%;
				margin-top: 0px;
			}
		}

		h2 {
			font-family: "Cormorant Garamond", sans-serif;
			font-weight: 500;
			font-size: 140px;
			line-height: 100%;
			text-transform: uppercase;
			letter-spacing: 0px;

			@media (max-width: 1669.98px) {
				font-size: 120px;
			}

			@media (max-width: 1439.98px) {
				font-size: 100px;
			}

			@media (max-width: 1169.98px) {
				font-size: 80px;
			}

			@media (max-width: 991.98px) {
				font-size: 20px;
			}

			.rs-blog & {
				display: flex;
				font-size: 130px;

				@media (max-width: 1669.98px) {
					font-size: 120px;
				}

				@media (max-width: 1439.98px) {
					font-size: 100px;
				}

				@media (max-width: 1169.98px) {
					font-size: 80px;
				}

				@media (max-width: 991.98px) {
					font-size: 20px;
					align-items: center;
				}
			}

			span {
				display: block;

				@media (max-width: 991.98px) {
					display: inline-block;
				}

				&:first-child {
					// margin-left: -95px;
					margin-left: -11.5%;

					@media (max-width: 1439.98px) {
						margin-left: 0px;
					}

					.rs-blog & {
						margin-top: -10px;
						margin-right: 8px;
						font-size: 145px;
						letter-spacing: 0.03em;

						@media (max-width: 1669.98px) {
							font-size: 120px;
						}

						@media (max-width: 1439.98px) {
							font-size: 100px;
						}

						@media (max-width: 1169.98px) {
							font-size: 80px;
						}

						@media (max-width: 991.98px) {
							font-size: 20px;
							margin-top: -3px;
							margin-right: 0px;
						}
					}
				}

				&:last-child {
					margin-left: -10px;

					@media (max-width: 1439.98px) {
						margin-left: 0px;
					}

					.rs-blog & {
						margin-left: 0px;
					}
				}
			}
		}

		p {
			max-width: 699px;
			margin-top: 12px;

			@media (max-width: 991.98px) {
				margin-top: 8px;
				line-height: 159%;
			}
		}
	}

	&__titles {
		position: relative;
		margin-bottom: 22px;
		margin-right: -42px;

		@media (max-width: 1439.98px) {
			margin-right: 0px;
		}

		@media (max-width: 991.98px) {
			margin-bottom: 17px;
		}

		.rs-blog & {
			margin-right: -20%;
			margin-left: 2.7%;
			margin-bottom: 38px;

			@media (max-width: 1439.98px) {
				margin-right: 0px;
				margin-left: 0px;
				margin-bottom: 22px;
			}

			@media (max-width: 991.98px) {
				margin-bottom: 13px;
			}
		}
	}

	&__title {
		// --size-content: calc(100% - 945px);

		&--back {
			// clip-path: polygon(0 0, var(--size-content, 50%) 0, var(--size-content, 50%) 100%, 0 100%);

			h2 {
				color: #6d5b6a;
			}
		}

		&--font {
			position: absolute;
			bottom: 0;
			// clip-path: polygon(var(--size-content, 50%) 0, 100% 0, 100% 100%, var(--size-content, 50%) 100%);

			h2 {
				color: #fff;
			}
		}
	}

	// .rs-gallery__btn
	&__btn {
		margin-top: 34px;

		@media (max-width: 1439.98px) {
			margin-top: 20px;
		}

		@media (max-width: 991.98px) {
			margin-top: 10px;
		}

		@media (max-width: 767.98px) {
			width: 100%;

			.rs-btn {
				width: 100%;
			}
		}

		.rs-blog & {
			margin-top: 32px;

			@media (max-width: 1439.98px) {
				margin-top: 20px;
			}

			@media (max-width: 991.98px) {
				margin-top: 10px;
			}
		}
	}

	&__picture {
		padding: 56px 94px 56px 0px;
		width: 100%;
		max-width: 766px;
		position: relative;
		z-index: 5;
		transform: translateY(50px);
		opacity: 0;
		transition:
			transform 0.5s cubic-bezier(0.48, 0, 0.48, 1),
			opacity 0.5s cubic-bezier(0.48, 0, 0.48, 1);
		transition-delay: 1.75s;

		@media (max-width: 1699.98px) {
			padding: 50px 0px;
		}

		@media (max-width: 991.98px) {
			padding: 0 0 20px;
			max-width: 300px;
			margin: 0 auto;
		}

		img {
			width: 100%;
			height: 100%;
			border-radius: 30px;
			object-fit: cover;
		}
	}

	// .rs-gallery__article
	&__article {
		h4 {
			line-height: 121%;
		}
		p {
			margin-top: 20px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;

			@media (max-width: 1439.98px) {
				margin-top: 10px;
			}
		}
	}

	// .rs-gallery__date
	&__date {
		border-radius: 40px;
		padding: 5px 15px;
		background: rgba(255, 255, 255, 0.5);
		display: inline-block;
		margin-bottom: 20px;
		font-weight: 300;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0.03em;
		color: #727272;

		@media (max-width: 1439.98px) {
			font-size: 13px;
			margin-bottom: 10px;
		}
	}

	&__sliders {
		width: 100%;
		height: 100%;
		max-width: 49.219%;
		overflow: hidden;
		position: absolute;
		z-index: 5;
		right: 15px;
		top: 0;
		display: flex;
		transform: translateY(50px);
		opacity: 0;
		transition:
			transform 0.5s cubic-bezier(0.48, 0, 0.48, 1),
			opacity 0.5s cubic-bezier(0.48, 0, 0.48, 1);
		transition-delay: 1.75s;

		@media (max-width: 991.98px) {
			display: none;
		}
	}

	// .rs-gallery__slider
	&__slider {
		width: 100%;
		margin: 0;

		&:not(:last-child) {
			margin-right: 30px;

			@media (max-width: 1439.98px) {
				margin-right: 20px;
			}
		}

		&:first-child {
			// max-width: 623px;
			max-width: 65.926%;
		}

		&:last-child {
			// max-width: 292px;
			max-width: 30.9%;
		}
	}

	// .rs-gallery__slider-wrapper
	&__swiper {
		transition-timing-function: linear !important;
	}

	// .rs-gallery__slider-slide
	&__slide {
		display: inline-flex;
		height: auto !important;
	}

	// .rs-gallery__img
	&__img {
		width: 100%;
		flex: 1 1 50%;

		&:not(:last-child) {
			margin-right: 30px;

			@media (max-width: 1439.98px) {
				margin-right: 20px;
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 30px;

			@media (max-width: 1439.98px) {
				border-radius: 20px;
			}
		}
	}
}
