.rs-product {
	padding-top: 80px;
	overflow: visible;
	z-index: 12;

	@media (max-width: 1439.98px) {
		padding-top: 60px;
	}

	@media (max-width: 1169.98px) {
		padding-top: 40px;
	}

	@media (max-width: 991.98px) {
		padding-top: 26px;
	}

	// .rs-product__container
	&__container {
	}

	// .rs-product__wrapper
	&__wrapper {
		position: relative;
		@media (min-width: 991.98px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 30px;

			@media (max-width: 1439.98px) {
				gap: 20px;
			}
		}
	}

	// .rs-product__pictures
	&__pictures {
		display: flex;
		flex-wrap: wrap;
		gap: 30px 20px;

		@media (max-width: 1439.98px) {
			gap: 20px 15px;
		}

		@media (max-width: 1169.98px) {
			gap: 15px;
		}

		@media (max-width: 991.98px) {
			gap: 8px;
		}
	}

	// .rs-product__picture
	&__picture {
		flex: 1 1 45%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 30px;

			@media (max-width: 1439.98px) {
				border-radius: 20px;
			}

			@media (max-width: 991.98px) {
				border-radius: 10px;
			}
		}

		&.threesixty {
			height: auto !important;
			width: auto !important;
			border-radius: 30px;
			overflow: hidden;
			background-color: #fcf6f7;
			flex: 1 1 100%;
			padding-bottom: 90.174%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			position: relative;
			cursor: e-resize;
			user-select: none;

			@media (max-width: 1439.98px) {
				border-radius: 20px;
			}

			@media (max-width: 991.98px) {
				border-radius: 10px;
			}

			&::before {
				content: "";
				position: absolute;
				top: 20px;
				right: 20px;
				background-image: url("../img/icons/3d-icon.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				width: 50px;
				height: 50px;

				@media (max-width: 1439.98px) {
					width: 40px;
					height: 40px;
					top: 15px;
					right: 15px;
				}

				@media (max-width: 1169.98px) {
					width: 30px;
					height: 30px;
					top: 10px;
					right: 10px;
				}

				@media (max-width: 991.98px) {
					top: 8px;
					right: 6px;
					width: 24px;
					height: 24px;
				}
			}
		}
	}

	// .rs-product__desc
	&__desc {
		padding-top: 45px;

		@media (min-width: 1699.98px) {
			padding-left: 42px;
		}

		@media (max-width: 1169.98px) {
			padding-top: 30px;
		}

		&_swipe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 27px;

			&::before {
				content: "";
				position: absolute;
				top: 15px;
				left: 50%;
				transform: translateX(-50%);
				width: 25px;
				height: 2px;
				background-color: #c80151;
			}

			@media (min-width: 991.98px) {
				display: none;
			}
		}

		// .rs-product__desc_block
		&_block {
			@media (min-width: 991.98px) {
				position: sticky;
				top: 130px;
				left: 0;
				width: 100%;

				@media (max-width: 1439.98px) {
					top: 100px;
				}

				@media (max-width: 1169.98px) {
					top: 70px;
				}
			}
		}

		// .rs-product__desc_head
		&_head {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			flex-wrap: wrap;
			border-bottom: 1px solid #d9d9d9;

			@media (max-width: 991.98px) {
				padding-bottom: 4px;
			}

			h2 {
				margin-right: 5px;
			}

			p {
				padding-bottom: 5px;

				@media (max-width: 991.98px) {
					padding-bottom: 0px;
				}
			}
		}

		&_body {
			margin-top: 47px;

			@media (min-width: 991.98px) {
				display: block;
			}

			@media (max-width: 1439.98px) {
				margin-top: 35px;
			}

			@media (max-width: 1169.98px) {
				margin-top: 25px;
			}

			@media (max-width: 991.98px) {
				margin-top: 16px;
			}

			.spollers {
				@media (max-width: 991.98px) {
					max-height: calc(100vh - 350px);
					overflow-x: hidden;
					overflow-y: scroll;
					padding-right: 20px;
				}
			}
		}

		// .rs-product__desc_action
		&_action {
			margin-top: 13px;

			@media (max-width: 991.98px) {
				margin-top: 20px;
			}

			.rs-btn {
				width: 100%;
			}
		}
	}

	&__fixed {
		@media (max-width: 991.98px) {
			padding: 27px 20px 24px;
			position: fixed;
			max-height: calc(100% - 150px);
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 768px;
			backdrop-filter: blur(57px);
			background: #fff;
			border-radius: 15px 15px 0px 0px;
			z-index: 10;

			@media (max-width: 767.98px) {
				width: calc(100% - 40px);
				left: 20px;
				right: 20px;
				transform: translateX(-0%);
			}
		}
	}
}
