.pagging {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 60px;

	@media (max-width: 1439.98px) {
		margin-top: 40px;
	}

	@media (max-width: 991.98px) {
		justify-content: center;
		margin-top: 20px;
	}

	// .pagging__arrow
	&__arrow {
		transition: all 0.3s ease 0s;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		letter-spacing: 0.03em;
		color: #3c3c3c;

		@media (max-width: 1439.98px) {
			font-size: 14px;
		}

		@media (max-width: 991.98px) {
			font-size: 13px;
		}

		&:disabled {
			color: #898989;
			pointer-events: none;
			cursor: default;
		}

		@media (any-hover: hover) {
			&:hover {
				color: #0c75af;
			}
		}

		&.pagging__arrow_back {
			margin-right: 23px;

			@media (max-width: 1439.98px) {
				margin-right: 15px;
			}

			@media (max-width: 991.98px) {
				margin-right: 10px;
			}

			@media (max-width: 767.98px) {
				display: none;
			}
		}

		&.pagging__arrow_go {
			margin-left: 23px;

			@media (max-width: 1439.98px) {
				margin-left: 15px;
			}

			@media (max-width: 991.98px) {
				margin-left: 10px;
			}

			@media (max-width: 767.98px) {
				display: none;
			}
		}
	}

	// .pagging__list
	&__list {
		display: flex;
		align-items: center;
	}

	// .pagging__item
	&__item {
		&:not(:last-child) {
			margin-right: 15px;

			@media (max-width: 991.98px) {
				margin-right: 5px;
			}
		}
	}

	// .pagging__link
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease 0s;
		text-align: center;
		min-width: 48px;
		min-height: 48px;
		max-width: 48px;
		max-height: 48px;
		border-radius: 50%;
		border: 1px solid transparent;
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		letter-spacing: 0.03em;
		color: #3c3c3c;

		@media (max-width: 1439.98px) {
			font-size: 14px;
		}

		@media (max-width: 991.98px) {
			min-width: 35px;
			min-height: 35px;
			max-width: 35px;
			max-height: 35px;
			font-size: 13px;
		}
	}

	&__link {
		&._active {
			border-color: #dbdbdb;
		}

		@media (any-hover: hover) {
			&:hover {
				border-color: #dbdbdb;
			}
		}
	}
}
