.spollers {
	// .spollers__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 32px;

			@media (max-width: 1439.98px) {
				margin-bottom: 28px;
			}

			@media (max-width: 1169.98px) {
				margin-bottom: 24px;
			}

			@media (max-width: 991.98px) {
				margin-bottom: 20px;
			}
		}

		@media (max-width: 991.98px) {
			&:last-child {
				.spollers__title {
					padding-bottom: 0px;
					border-bottom: none;
				}
			}
		}
	}

	// .spollers__title
	&__title {
		width: 100%;
		text-align: left;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-family: "Cormorant Garamond", sans-serif;
		font-weight: 500;
		font-size: 22px;
		text-transform: uppercase;
		color: #774653;
		border-bottom: 1px solid #d9d9d9;
		padding-bottom: 15px;
		transition: padding 0.3s ease 0s;

		@media (max-width: 1439.98px) {
			font-size: 18px;
		}

		@media (max-width: 1169.98px) {
			font-size: 16px;
		}

		@media (max-width: 991.98px) {
			font-size: 13px;
			padding-bottom: 9px;
		}

		&._spoller-active {
			padding-bottom: 15px;

			i:before {
				transform: translate(-50%, -50%) rotate(-90deg);
			}
		}
	}

	&__icon {
		position: relative;
		max-width: 34px;
		max-height: 34px;
		min-width: 34px;
		min-height: 34px;
		border-radius: 100%;
		margin-left: 10px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 1439.98px) {
			max-width: 28px;
			max-height: 28px;
			min-width: 28px;
			min-height: 28px;
		}

		@media (max-width: 1169.98px) {
			max-width: 22px;
			max-height: 22px;
			min-width: 22px;
			min-height: 22px;
		}

		@media (max-width: 991.98px) {
			max-width: 15px;
			max-height: 15px;
			min-width: 15px;
			min-height: 15px;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) rotate(-90deg);
			width: 1px;
			height: 100%;
			background-color: #ae9cab;
			transition: all 0.3s ease 0s;
		}

		&::before {
			transform: translate(-50%, -50%) rotate(0deg);
		}
	}

	// .spollers__body
	&__body {
		margin-top: 20px;
	}
}
