.swiper.swiper-initialized {
	overflow: hidden;

	.swiper-wrapper {
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		display: flex;
		position: relative;
	}

	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}

.swiper-grid > .swiper-wrapper {
	flex-wrap: wrap;
}

.swiper-vertical {
	.swiper-wrapper {
		flex-direction: column;
	}
}

.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}

.swiper-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}

.swiper-button-prev,
.swiper-button-next {
	&:active,
	&:focus {
		outline: none !important;
	}
	&::-moz-focus-inner {
		border: 0 !important;
	}

	&::after {
		font-size: 0px;
	}
}

.swiper-pagination-bullet {
	&:active,
	&:focus {
		outline: none !important;
	}
	&::-moz-focus-inner {
		border: 0 !important;
	}
}

.swiper-button-lock,
.swiper-pagination-lock {
	display: none !important;
}

.swiper-button-disabled {
	opacity: 0.5;
}

//========================================================================================================================================================

//========================================================================================================================================================
// nav
.swiper-button-next,
.swiper-button-prev {
	position: relative;
	top: 0%;
	width: 27px;
	height: 14px;
	margin-top: 0;
	z-index: 10;
	cursor: pointer;
	color: #ff0000;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	border-radius: 100%;
	transition: all 0.3s ease 0s;

	@media (max-width: 1439.98px) {
		width: 20px;
		height: 14px;
	}

	@media (max-width: 991.98px) {
		width: 15px;
		height: 7px;
	}

	svg {
		width: 100%;
		height: 100%;
	}
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: 0px;
	right: 0px;
	margin-right: 22px;

	@media (max-width: 991.98px) {
		margin-right: 11px;
	}
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: 0px;
	left: 0px;
	margin-left: 22px;
	margin-bottom: 6px;

	@media (max-width: 991.98px) {
		margin-left: 11px;
		margin-bottom: 4px;
	}
}

.swiper-action {
	display: flex;

	&__navigation {
		display: flex;
		align-items: center;
		flex-direction: column-reverse;
		padding-top: 8px;

		@media (max-width: 1439.98px) {
			padding: 0;
		}
	}

	.swiper-pagination {
		margin-left: 22px;
		margin-top: 15px;

		@media (max-width: 991.98px) {
			margin-left: 17px;
			margin-top: 4px;
		}
	}
}

// Фракция
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 0px;
	left: 0;
	width: auto;
	font-family: "Cormorant Garamond", sans-serif;
	font-weight: 500;
	font-size: 50px;
	letter-spacing: -7px;
	text-transform: uppercase;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
	margin-right: 13px;

	@media (max-width: 1439.98px) {
		font-size: 40px;
	}

	@media (max-width: 1169.98px) {
		font-size: 30px;
	}

	@media (max-width: 991.98px) {
		font-size: 20px;
		margin-right: 10px;
		letter-spacing: 0.03em;
	}

	._dark-theme & {
		color: rgba(109, 91, 106, 0.5);
	}
}

.swiper-pagination {
	position: relative;
	text-align: center;
	transition: color 0.3s ease 0s;
	transform: translate3d(0, 0, 0);
	z-index: 10;
}

.swiper-pagination .swiper-pagination-current,
.swiper-pagination .swiper-pagination-total {
	letter-spacing: 0.03em;
	display: inline-block;
}

.swiper-pagination .swiper-pagination-current {
	color: #fff;
	transition: color 0.3s ease 0s;
	width: 43px;

	@media (max-width: 1439.98px) {
		width: 35px;
	}

	@media (max-width: 1169.98px) {
		width: 27px;
	}

	@media (max-width: 991.98px) {
		width: 20px;
	}

	._dark-theme & {
		color: #6d5b6a;
	}
}

// progress
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
	width: 100%;
	height: 1px;
	left: 0;
}

.swiper-pagination-progressbar {
	background: #d9d9d9;
	position: relative;
	border-radius: 0px;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background: #b0244a;
	position: absolute;
	bottom: auto;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0px;
	transform-origin: left top;
}
